/* We're going to exclude Preflight to not conflict with the default WP style */
/* Learn more: https://tailwindcss.com/docs/preflight#disabling-preflight */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);


/* Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/Inter.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
}


/* DaisyUI */
@plugin "daisyui" {
  include: alert, badge, button, input, select, checkbox, radio, divider, fieldset, label, link, list, toggle, range;
}

@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  --btn-fg: var(--color-white);
  --btn-font-weight: var(--font-weight-medium);
  
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(21% .006 285.885);
  --color-primary: oklch(68.5% 0.169 237.323);
  --color-primary-darken: oklch(58.8% 0.158 241.966);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(49.1% 0.27 292.581);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(61.302% .202 261.294);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(0.6 0.26 27.01);
  --color-error-content: oklch(100% 0 0);
  --color-border: color-mix(in oklab, var(--color-base-content) 10%, transparent);
  --root-bg: var(--color-neutral-50);
  
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/* Theme Config */
@theme {
  --font-*: initial; /* Clears default font utilities */
  --font-inter: "Inter", ui-sans-serif, system-ui;
  --shadow-md: 0 0.25rem 0.625rem -0.0625rem rgb(0 0 0 / 0.05), 0 0.125rem 0.5rem -0.125rem rgb(0 0 0 / 0.05);
  
  --text-2xl: 1.375rem;
  --text-2xl--line-height: calc(1.75 / 1.375);
}


/* Layer: BASE */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
  code {
    font-weight: normal;
    font-size: 0.95em !important;
    border-radius: 6px;
    padding: 2px 5px !important;
    color: #444746;
    word-break: break-word;
    background-color: #e9eef6 !important;
  }
}


/* Layer: UTILITIES */
@utility fieldset-legend {
  @apply text-base;
}

@utility fieldset-label {
  @apply text-base font-medium text-base-content;
}

@utility label {
  @apply m-0! text-neutral/85 whitespace-normal;
}

@utility badge-warning{
  --badge-fg: var(--color-neutral);
}

@utility list{
  & > :not(:last-child) {
    &.list-row, & .list-row {
      &::after {
        border-color: var(--color-border, currentColor);
      }
    }
  }
}

@utility divider{
  --divider-color: var(--color-border, currentColor);
}